.habits {
  padding: 100px 0;
  /* text-align: center; */
  background: var(--black-primary);
}
.habits__description {
  display: flex;
  flex-direction: column;
  gap: 14px;
  max-width: 1060px;
  margin: 0 auto;
  margin-bottom: 58px;
}
.habits__description h1 {
  font-family: var(--inter);
  font-size: 48px;
  text-align: center;
  color: var(--text-primary);
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}
.habits__description p {
  font-family: var(--inter);
  text-align: center;
  color: var(--text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.habit-cards {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  gap: 40px;
}
.habit-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.habit-card img {
  border-radius: 50%;
  border: 5px solid var(--black-secondary);
}
.habit-description h4 {
  font-family: var(--inter);
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 6px;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.habit-description p {
  font-family: var(--inter);
  color: var(--text-secondary);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
}
